.cajtel-bg {
    background: url("../Assets/cajtel_bg.jpg") no-repeat center;
    background-size: cover;
}

.cajtel-case-slider {
    // height: 100vh;
    padding-top: 20%;
    background-color: #111111;

    .carousel {
        display: flex;
        width: 100%;
        height: 80%;
        align-items: center;
        font-family: Arial;
        margin-top: -10%;


        &__list {
            display: flex;
            list-style: none;
            position: relative;
            width: 100%;
            height: 700px;
            justify-content: center;
            perspective: 300px;



            @include breakpoint(phablet) {
                height: 400px;

            }
        }

        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 0px;
            width: 30%;
            height: 700px;
            overflow: hidden;
            // box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
            position: absolute;
            transition: all .3s ease-in;

            @include breakpoint(phablet) {
                height: 400px;
                width: 37%;

            }

            &:nth-child(1) {
                background: url("../Assets/cajtel1.jpg") no-repeat;
                background-size: cover;






            }

            &:nth-child(2) {
                background: url("../Assets/cajtel3.jpg") no-repeat;
                background-size: cover;




            }

            &:nth-child(3) {
                background: url("../Assets/cajtel1.jpg") no-repeat;
                background-size: cover;

                @include breakpoint(phablet) {
                    background-size: contain;

                }



            }

            &:nth-child(4) {
                background: url("../Assets/cajtel3.jpg") no-repeat;
                background-size: cover;

            }

            &:nth-child(5) {
                background: url("../Assets/cajtel2.jpg") no-repeat;
                background-size: contain;

            }






            &[data-pos="0"] {
                z-index: 5;
            }

            &[data-pos="-1"],
            &[data-pos="1"] {
                opacity: 0.7;
                filter: blur(1px) grayscale(10%);
            }

            &[data-pos="-1"] {
                transform: translateX(-40%) scale(.9);
                z-index: 4;
            }

            &[data-pos="1"] {
                transform: translateX(40%) scale(.9);
                z-index: 4;
            }

            &[data-pos="-2"],
            &[data-pos="2"] {
                opacity: 0.4;
                filter: blur(3px) grayscale(20%);
            }

            &[data-pos="-2"] {
                transform: translateX(-70%) scale(.8);
                z-index: 3;
            }

            &[data-pos="2"] {
                transform: translateX(70%) scale(.8);
                z-index: 3;
            }
        }
    }
}